<!-- views/result.ejs -->
<!DOCTYPE html><html><head><meta charset="utf-8"/><link rel="stylesheet" href="/style.css"/><title>Akun Dibuat</title></head><body>
  <h1>Akun <%= type.toUpperCase() %> Dibuat</h1>
  <p>User: <strong><%= user %></strong></p>
  <p>Credential: <pre><%= cred %></pre></p>
  <p>Expire: <strong><%= expiry %></strong></p>
  <a href="/">â† Kembali ke Daftar</a>
</body></html>
